global:
  scrape_interval: 15s # scrape every 15 seconds.

scrape_configs:
  - job_name: 'product-search-service'
    # Scrape the /metrics endpoint on our `targets` app
    metrics_path: /metrics
    static_configs:
      - targets: ['product-search-app:8000']

  - job_name: 'node'
    scrape_interval: 5s
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']